body{
	font-family: "Gill Sans", sans-serif;
}
 


h1 {
 font-size: 175%; 
 color: black; 
 text-align:center;
 display:flex;
 float:left;
 }
h2 {
 font-size: 150%; 
 color: #5AC5C2; 
 text-align:center;
 }
 

  
.Image2{
	width: 125px;
	height: 125px;
	display: inline-block;
	border-radius : 15%;
	box-shadow: 0px 0px 10px #5AC5C2;

}



ul.menutop {
  font-family: "Gill Sans", sans-serif;

  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5AC5C2;
  max-height:50px;
}



li.menutop {
	font-size:12px;
	float: left;
	color:white;
	width:40%;
	text-align:center;
}
	

	
li a {
  display: block;
  color: #888888;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color:white;
}

div{
  border-style: solid;
}

#liste{
  padding: 10px;
}

div.ListElt{
  margin-bottom: 10px;;
}

div.ListElt p{
  margin-left: 10px;
  display: inline-block;
  border-style: solid;
}


#upload{
	display:none;
}




