body{
	font-family: "Gill Sans", sans-serif;
}
 

 p{
	 text-align:center;
	 padding-left:20%;
 }
h1 {
 font-size: 175%; 
 color: black; 
 text-align:center;
 display:flex;
 float:left;
 }
h2 {
 font-size: 150%; 
 color: #5AC5C2; 
 text-align:center;
 }
 

  
.Image2{
	width: 125px;
	height: 125px;
	display: inline-block;
	border-radius : 15%;
	box-shadow: 0px 0px 10px #5AC5C2;
	margin-left:25%;


}

.Image2:hover{
	box-shadow: 0px 0px 25px #5AC5C2;
	
}

.Image2:active{
	box-shadow: 0px 0px 25px #319484;

}
.Testpochette{
	text-align:center;
}


.ListElt{
	display:flex;
	flex-direction:column;
	padding-top:10%;
	justify-content:space-around;
	
	
}


#liste{
	display:flex;
	flex-direction:column;
	border:none;
	padding-right:3%;
	justify-content:space-between;
}

ul.menutop {
  font-family: "Gill Sans", sans-serif;

  position: fixed;
  bottom: 0;
  left:0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5AC5C2;
  max-height:50px;
}



li.menutop {
	font-size:12px;
	float: left;
	color:white;
	width:40%;
	text-align:center;
}
	

	
li a {
  display: block;
  color: #888888;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  color:white;
}






#upload{
	display:none;
}




